<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <div>
        <h1>Password Manager</h1>
        <form>
            <label for="username">username/email</label>
            <input type="text" id="username">
            <label for="url">url</label>
            <input type="text" id="url">
            <label for="password">password</label>
            <input type="password">
            <button type="submit">Add password</button>
        </form>
        <div>
            <table></table>
        </div>
    </div>
</body>
</html>